<div class="container">
    <ul class="nav nav-tabs">
        <div class="menu col-xs-8">
            <li><%= link_to root_path, class: 'bt' do %>
            <i class="glyphicon glyphicon-home"></i> Home <% end -%></li>
            <li><%= link_to root_path, class: 'bt' do %>
            <i class="glyphicon glyphicon-list-alt"></i> Portfolio <% end -%></li>
            <li><%= link_to root_path, class: 'bt' do %>
            <i class="glyphicon glyphicon-pencil"></i> Blog <% end -%></li>
            <li><%= link_to root_path, class: 'bt' do %>
            <i class="glyphicon glyphicon-user"></i> About Us <% end -%></li>
            <li><%= link_to 'Home', class: 'bt' do %>
            <i class="glyphicon glyphicon-earphone"></i> Contact <% end -%></li>
        </div>
        <div class="name col-xs-4">
            <h2 class="highlight" style="font-family: 'Raleway', sans-serif; color: #424242">ST</h2>
        </div>
    </ul>
</div>
<div class="main">
    
    
    
    <div class="jumbotron">
        <div id="circle-shape-example">
            <img src="/assets/sani.jpg" class="curve"><h1 style="font-family: 'Anonymous Pro', sans-serif;
            color: #424242;font-size: 40px">HI I'M SANIDHYA TANDON</h1>
            <div class="button">
                <%= link_to root_path, class: 'btn btn-info btn-lg  ' do %><span style="color:#EEEEEE">View my work</span><% end -%>
            </div>
        </div>
    </div>
    
    
    
</div>
</div>