<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700|Raleway|Anonymous+Pro' rel='stylesheet' type='text/css'>
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <ul class="nav nav-tabs">
        <div class="menu col-xs-8">
            <li><%= link_to root_path, class: 'bt' do %>
            <i class="glyphicon glyphicon-home"></i> Home <% end -%></li>
            <li><%= link_to list_path, class: 'bt' do %>
            <i class="glyphicon glyphicon-list-alt"></i> Portfolio <% end -%></li>
            <li><%= link_to root_path, class: 'bt' do %>
            <i class="glyphicon glyphicon-pencil"></i> Blog <% end -%></li>
            <li><%= link_to root_path, class: 'bt' do %>
            <i class="glyphicon glyphicon-user"></i> About Me <% end -%></li>
            <li><%= link_to 'Home', class: 'bt' do %>
            <i class="glyphicon glyphicon-earphone"></i> Contact <% end -%></li>
        </div>
        <div class="name col-xs-4">
            <h2 class="highlight" style="font-family: 'Raleway', sans-serif; color: #424242">ST</h2>
        </div>
    </ul>
</div>


<%= yield %>

</body>
</html>
